@for (player of game.players; track player; let i = $index) {
<app-player (click)="editPlayer(i)" [ngStyle]="{'top.px': 20 + (i * 70)}" class="player-position hide-mobile"
    [playerActive]="i == game.currentPlayer" [image]="game.player_images[i]" [name]="player"></app-player>

}

@if (!gameOver) {
<div class="scroll-container hide-desktop">
    @for (player of game.players; track player; let i = $index) {
    <app-player-mobile (click)="editPlayer(i)" [playerActive]="i == game.currentPlayer" [image]="game.player_images[i]"
        [name]="player"></app-player-mobile>
    }
</div>
}

@if (gameOver) {
<div class="gameOver">
    <img src="assets/img/game_over.svg" alt="">
</div>
}

@if (!gameOver) {
<div class="field">

    <div class="card-stack">
        <!-- Card stack-->
        @for (item of [0,1,2,3]; track $index) {
        <img [ngStyle]="{'right.px': $index * 5}" src="assets/img/cards/card_cover.png" alt="">
        }
        <img (click)="takeCard()" class="top-card" style="right: 25px" src="assets/img/cards/card_cover.png" alt="">


        <!-- Stack for played cards -->
        @for (card of game.playedCards; track $index) {
        <img class="played-card" src="assets/img/cards/{{ card }}.png">
        }

        <!-- Current card (Animation) -->
        @if (game.pickCardAnimation) {
        <img src="assets/img/cards/{{ game.stack[game.stack.length -1] }}.png" alt="">
        }
    </div>
</div>
}

@if (!gameOver) {
<app-game-info [card]="game.currentCard" class="pin-bottom"></app-game-info>


<button mat-fab color="primary" (click)="openDialog()" class="btn-add">
    <mat-icon>add</mat-icon>
</button>
}